<%= render 'info', user: @user %>
<%= render 'books/new', book: @newbook %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag @user.get_profile_image(50,50) %>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
  <p><%= book.body %></p>
</div>
<% end %>